:root {
  --color-primary-bright-orange: hsl(31, 77%, 52%);
  /* WCAG-AA Large Text Contrast Ratio Corrected */
  --color-primary-bright-orange-alt: hsl(31, 77%, 34%);
  --color-primary-dark-cyan: hsl(184, 100%, 22%);
  --color-primary-extra-dark-cyan: hsl(179, 100%, 13%);
  --color-neutral-extra-light-gray: hsl(0, 0%, 95%);
  --color-neutral-white: hsl(0, 0%, 100%);;
  --font-family-heading: 'Big Shoulders Display', cursive;
  --font-family-body: 'Lexend Deca', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 0.9375rem var(--font-family-body);
  background-color: var(--color-neutral-extra-light-gray);
  padding: 1rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  max-width: 58rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
  padding: 3rem;
}

section img {
  flex: 0 1;
}

.sedans {
  background-color: var(--color-primary-bright-orange-alt);
}

.suvs {
  background-color: var(--color-primary-dark-cyan);
}

.luxury {
  background-color: var(--color-primary-extra-dark-cyan);
}

section h1 {
  font-family: var(--font-family-heading);
  font-size: 2.6em;
  font-weight: 700;
  color: var(--color-neutral-extra-light-gray);
  text-transform: uppercase;
  margin: 0;
}

section p {
  color: var(--color-neutral-white);
  line-height: 1.7;
  flex-grow: 1;
  margin: 0;
}

button {
  background-color: var(--color-neutral-extra-light-gray);
  padding: 0.9em 2em;
  border-radius: 32px;
  border: none;
  font: inherit;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: var(--color-neutral-extra-light-gray);
  outline: 2px solid var(--color-neutral-extra-light-gray);
}

.button-sedans {
  color: var(--color-primary-bright-orange-alt);
}

.button-suvs {
  color: var(--color-primary-dark-cyan);
}

.button-luxury {
  color: var(--color-primary-extra-dark-cyan);
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
  .card {
    flex-direction: row;
  }
  section {
    gap: 2.1rem;
  }
  button {
    margin-top: 2.6rem;
  }
}